.nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
    a {
      color: #fff;
    }
  }
}

.nav-main {
  position: relative;
  ul {
    a {
      text-transform: uppercase;
      padding: 1rem;
      font: {
        size: 1.5rem;
        weight: 700;
      };
    }
  }
  .link-decoration {
    position: absolute;
    bottom: -5px;
    background: #fff;
    height: 2px;
    width: 10px;
  }
}