<header class="header-main">
    <div class="row">
        <div class="column">

            <div class="logo-container">
                <h1></h1>
            </div>

            <div class="nav nav-main">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Process</a></li>
                    <li><a href="#">Clients</a></li>
                    <li><a href="#">Work</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>

        </div>
    </div>
</header>