<!doctype html>
<html class="no-js" lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>37</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:400,700,800&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>

    {{> _header}}

    {{> body}}

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>